NEXT_PUBLIC_SUPABASE_URL=https://hxsnyrutyyavvljxwgku.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY= eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imh4c255cnV0eXlhdnZsanh3Z2t1Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTMyODE4NzcsImV4cCI6MjA2ODg1Nzg3N30.y_l4gyz_zPu9nCBdgTvfIqDGKE78Zlaz5xBvn-lqA-0
