-- Agregar columna observacion si no existe
ALTER TABLE participacion ADD COLUMN IF NOT EXISTS observacion TEXT;

-- Verificar que la columna existe ahora
SELECT column_name FROM information_schema.columns
WHERE table_name = 'participacion' AND column_name = 'observacion';
