-- Debug: Verificar que la pagina esta cargando participacion
-- Query que usa la pagina de calificaciones
SELECT COUNT(*) as total_registros FROM participacion WHERE curso_id = 'TU_CURSO_ID';

-- Ver un curso especifico con participacion (reemplaza TU_CURSO_ID)
SELECT c.asignatura, COUNT(p.*) as participaciones
FROM cursos c
LEFT JOIN participacion p ON c.id = p.curso_id
WHERE c.id = 'TU_CURSO_ID'
GROUP BY c.id, c.asignatura;
