-- Verificar registros de participacion por curso
SELECT c.asignatura, COUNT(p.*) as registros_participacion
FROM cursos c
LEFT JOIN participacion p ON c.id = p.curso_id
GROUP BY c.id, c.asignatura
ORDER BY registros_participacion DESC;

-- Ver todos los registros de participacion con detalles
SELECT p.id, c.asignatura, p.fecha, p.semana, p.nivel, p.observacion
FROM participacion p
JOIN cursos c ON p.curso_id = c.id
ORDER BY p.fecha DESC, p.created_at DESC
LIMIT 20;
