-- Query corregido sin observacion
SELECT p.id, c.asignatura, p.fecha, p.semana, p.nivel
FROM participacion p
JOIN cursos c ON p.curso_id = c.id
ORDER BY p.fecha DESC, p.created_at DESC
LIMIT 10;

-- Ver esquema de la tabla participacion
SELECT column_name, data_type, is_nullable
FROM information_schema.columns
WHERE table_name = 'participacion'
ORDER BY ordinal_position;
